<!DOCTYPE html>
<html>
<head>
    <%- include('./head'); %>
</head>
<body class="text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="align-content-center">
        <%- include('./header'); %>
    </header>

    <main class="flex-grow-1 d-flex flex-column justify-content-center">
        <h1 class="text-center">SMS</h1>

        <section>
            <div class="container">

                <div class="row">
                    <div class="col-md-12">

                        <div class="card" id="chat3" style="border-radius: 15px;">
                            <div class="card-body">

                                <div class="row">

                                    <div>

                                        <div class="chat-container pt-3 pe-3 overflow-y-auto"
                                             style="position: relative; height: 400px">
                                            <!-- messages appear here -->
                                        </div>

                                        <ul>
                                            <% messages.forEach(function(message) { %>
                                                <li>
                                                    <strong><%= message.direction === 'inbound' ? 'From' : 'To' %>:</strong> <%= message.direction === 'inbound' ? message.from : message.to %><br>
                                                    <strong>Message:</strong> <%= message.body %>
                                                </li>
                                            <% }); %>
                                        </ul>

                                        <form action="/sms/send-sms" method="POST">
                                            <input type="tel" name="to" placeholder="To (Phone Number)" required>
                                            <textarea name="body" placeholder="Message" required></textarea>
                                            <button type="submit">Send</button>
                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

    </main>

</div>

<script>
    const currentUser = <%- JSON.stringify(user) %>;
</script>

</body>
</html>
